<main>
    <div class="hero_sec_redeem"></div>
    <div class="form_sect">
        <div class="redeem_above">
            <h2>Did you receive the Sky Village - Trail of Spells Gift Card?</h2>
            <h3>What your gift contains</h3><br>
            <p> <b>A link to Sky Village - Trail of Spells</b><br>
                The innovative game that improves children's reading the more they play <br>
                <br>
                <b>Subscription (6months, or 12 months) to Parental Reports to the child's parent</b><br>
                It shows how the child's reading develops over time.<br>
                <br>
                <b>Access to the innovative Marcela's Reading Challenge</b><br>
                This powerful Ai-driven tool tests one's reading & comprehension ability in under a few minutes.<br>
            </p>
        </div>
        <br>
        <h3>Redeem your gift, and create your Parent Account</h3>
        <div class="form_login">
            <input class="field" type="email" placeholder="Email" name="username" required>
            <input class="field" type="password" placeholder="Password" name="password" required>
            <input class="field" type="password" placeholder="Confirm Password" name="Confirm_password" required>
            <h4>Received a gift subscription?</h4>                
            <input class="field" type="text" placeholder="Redemption Code" name="code">
            <button class="sub_btn"><a href="#">Subscribe to the Sky Village Parental Report</a></button>
            <br>
            <br>
            <p>By creating an account, you agree to our Terms & Conditions and acknowledge our Privacy Policy</p>
        </div>
    </div>
</main>
