
    <main id="loginpage">
        <div class="hero_sec_login"></div>
        <div class="form_sect">
            <h2>What is the life time value of a child being able to read?</h2>
            <br>
            <h3>Log in to your Account</h3>
            <div class="form_login">
                <input class="field" type="email" placeholder="Email" name="username" required>
                <input class="field" type="password" placeholder="Password" name="password" required>
                <h4>Did you forget your password?  |  <a href="/signup">Create your account.</a></h4>
                <button class="sub_btn"><a href="#">See your account page</a></button>              
                <br>
                <br>
                <p>By creating an account, you agree to our Terms & Conditions and acknowledge our Privacy Policy</p>
            </div>
        </div>
    </main>

    

        

